langchain
langchain-groq
langchain-community
faiss-cpu
sentence-transformers
streamlit
pandas
torch
sqlalchemy
pandas
numpy
chromadb
tiktoken
plotly
uvicorn
fastapi
sqlmodel
chromadb
sqlalchemy
python-multipart
langchain-huggingface
jq
matplotlib
levenshtein
fuzzywuzzy
langgraph